canvas {
    border: 1px solid black;
    background-color: #fbfbfb;
    margin: 0 0 0 30px;
}

body {
    background-color: hsl(210, 100%, 98%);
}

.game-main {
    margin: 20px 0 0 0;
    width: 360px;
    float: left;
}

.game-sidebar {
    margin: 20px 0 0 20px;
    width: 300px;
    float: left;
    font: bold 14px sans-serif;
    text-transform: uppercase;
    color: #777;
}

.game-sidebar > div {
    margin: 10px 0 0 0;
}

.game-score, .highscore {
    margin: 15px 0 0 20px;
    font: bold 18px sans-serif;
    color: #111;
}

.instructions {
    margin: 30px 0 0 0;
    font: 13px sans-serif;
    text-transform: none;
}

button {
    width: 100px;
    background-color: hsl(210, 100%, 55%);
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    border: none;
    margin: 40px 0 0 0;
    padding: 10px 0;
    box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
button:hover {
    background-color: hsl(210, 100%, 40%);
}
button:active {
    background-color: hsl(210, 100%, 30%);
}
button:focus {
    outline: 0;
}

footer {
    width: 100%;
    float: right;
    margin: 50px 0 0 20px;
    font: 12px sans-serif;
    color: #777;
}
